[project]
	description = submission area for nfs-ganesha
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frederic Saunier (fsr-atos)
[access "refs/for/refs/*"]
	read = group user/Frederic Saunier (fsr-atos)
	push = group user/Frederic Saunier (fsr-atos)
	label-Code-Review = -2..+2 group user/Frederic Saunier (fsr-atos)
	label-Verified = -1..+1 group user/Frederic Saunier (fsr-atos)
	rebase = group user/Frederic Saunier (fsr-atos)
	removeReviewer = group user/Frederic Saunier (fsr-atos)
	submit = group user/Frederic Saunier (fsr-atos)
[access "refs/heads/*"]
	read = group user/Frederic Saunier (fsr-atos)
	create = group user/Frederic Saunier (fsr-atos)
	push = +force group user/Frederic Saunier (fsr-atos)
	pushMerge = group user/Frederic Saunier (fsr-atos)
[access "refs/tags/*"]
	push = +force group user/Frederic Saunier (fsr-atos)
	pushTag = group user/Frederic Saunier (fsr-atos)
	pushSignedTag = group user/Frederic Saunier (fsr-atos)
